* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(0.25turn, #000000, #ab0fb1);
    
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: rgb(255, 255, 0);
    transition: 0.3s;

}


main {
    gap: 20px;
}

.flex-c {
    display: flex;
    flex: 1;
    padding: 20px;

}

.caixa {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 0px 5px #000000;
    transition: 0.3s;
}

.caixa:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

img {
    margin-top: 20px;
    max-width: 870px;
    max-height: 300px;
    width: 95%;
    height: 50%;
    border-radius: 20px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
   margin-bottom: 60px;
}

.box-p {
    margin-bottom: 60px;
}

.sub {
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 40px;
    border: none;
    width: 200px;
    padding: 30px;
    transition: 0.3S;
}

.sub:hover {
    background-color: rgb(47, 43, 43);
    transition: 0.3S;
}

.footer {
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(0.25turn, #000000, #ab0fb1);
    font-weight: bold;
}

/*SOBRE--------------------------------------------------------------*/

.cont {
    flex-direction: column;
}

.h2sobre {
    margin-top: 50px;
    margin-bottom: 30px;
}

/*ARTIGOS--------------------------------------------------------------*/

p {
    text-align: center;
}

/*CONTATO--------------------------------------------------------------*/

.flex-c2 {
        display: flex;
        flex: 1;
        width: 50%;
        padding: 20px;
}

.caixa2 {
    display: flex;
    width: 200px;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 0px 5px #000000;
    transition: 0.3s;
}
