* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
    height: 97.5vh;
    margin: 10px;
}

.grid-container {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 3;
    grid-template-rows: 3;
}

.item1 {
    border-radius: 15px;
    background-color: rgb(251, 255, 6);
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    border-radius: 15px;
    background-color: rgb(19, 255, 255);
    grid-column: 3;
    grid-row: 1;
}

.item3 {
    border-radius: 15px;
    background-color: rgb(255, 0, 0);
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}

.item4 {
    border-radius: 15px;
    background-color: rgb(19, 255, 255);
    grid-column: 3;
    grid-row: 2;
}

.item5 {
    display: grid;
    padding: 15px;
    gap: 15px;
    height: 100%;
    width: 100%;
    grid-template-columns: 2;
    grid-template-rows: 2;
    border-radius: 15px;
    background-color: rgb(255, 0, 0);
    grid-column: 3;
    grid-row: 3;
}

.item6 {
    border-radius: 15px;
    background-color: rgb(0, 255, 170);
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item7 {
    border-radius: 15px;
    background-color: bisque;
    grid-column: 1;
    grid-row: 2;
}

.item8 {
    border-radius: 15px;
    background-color: blueviolet;
    grid-column: 2;
    grid-row: 2;
}   
