* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.sidebar {
    background-color: darkgreen;
    color: aliceblue;
    width: 250px;
    padding: 20px;
}

h1 {
    margin-bottom: 50px;
    font-size: 30px;
}

span {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 35px;
    margin-bottom: 5px;
    padding-right: 5px;
}

p {
    font-size: 17px;
    transition: 1s;
}


p:hover {
    font-size: 22px;
    transition: 1s;
}

hr {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 25%;
}
.flex-c {
    display: flex;
    flex: 1;
    flex-direction: column;
}

header {
    background: linear-gradient(90deg );
    color: aliceblue;
    font-weight: bold;
    padding: 20px;
    
}

.c-chat {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1;
    background-color: rgb(255, 255, 255);
}



.recebida {
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: rgb(201, 189, 189);
    align-self: flex-start;
}

.enviada {
    background-color: rgb(193, 242, 143);
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 25px;
    align-self: flex-end;
}

footer {
    display: flex;
    border: solid 0.5px;
    background-color: rgb(234, 237, 240);
    padding: 20px;
}

.msg {
    width: 95%;
    max-width: 1500px;
    margin-right: 10px;
    height: 10px;
    padding: 20px;
    font-size: 18px;
}

.msg::placeholder {
    font-size:20px;
}

.sub {
    font-size: 18px;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: rgb(19, 190, 16);
    color: rgb(19, 190, 16);
    cursor: pointer;
    transform: scale(1);
    animation: backwards;
    transition: 1s;
}

.sub:hover {
    background-color: rgb(141, 207, 140);
    color: rgb(141, 207, 140);
    transform: scale(1.1);
    transition: 1s;
}

.sub[click] {
    transform: scale(0.9);
}

@media (max-width: 800px) {
    .sidebar  {
        visibility: hidden;
        position: absolute;
    }

    p {
        transition: 0s;
    }
}